body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background: linear-gradient(to right, #4facfe, #00f2fe);
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 300px;
    margin: auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #da1a1a;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #f9f9f9;
}

#reset {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}


@media (max-width: 600px) {
    .game-board {
        max-width: 100%;
    }

    .cell {
        width: 30vw;
        height: 30vw;
    }
}